:root {
    /* Font-family */

    /* font-size */

    /* Color */
        --primary-light: #A7B4CC;
        --primary: #425880;
        --Primary-dark: #28354D;

        --secondary-light: #0EA194;
        --secondary: #0D9488;
        --secondary-dark: #08544E;

        --triangle: #F97316;
        --triangle-dark: #7A390B;

        --white: #fafafa;

        --black-light:#8C8C8C;
        --black: #333333;
        --black-dark: #000000;

        --gray-light: #E8E8E8;
        --gray: #CFCFCF;
        --gray-dark: #A8A8A8;

        --red-light: #F50C00;
        --red: #E80C00;
        --red-dark: #A30900;

        --green-light: #3DCC55;
        --green: #00CC22;
        --green-dark: #008015;
    /* Padding */

        --padding-default: 4rem;
        --padding-secondary: 2rem;
        --padding-big: 2rem;

    /* Border Radius */
        --border-r-default: .5rem;
    
    /* Font-Size */

        --h1: 3.2rem;
        --h2: 2.6rem;
        --h3: 2rem;
        --h4: 1.8rem;

        --p-default: 1.2rem;
        --p-medium: ;
        --p-small: ;

}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a , a::before, a::after {
    text-decoration: none;
    color: var(--gray-light);
}

ul > li {
    list-style: none;
}

/* Header */

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/image/pexels-spacex-big_1.jpg);
    background-position: top;
    background-size: cover;
    padding: var(--padding-default);
    justify-content: space-between;
    background-color: var(--Primary-dark);
}


nav {
    grid-area: nav;
    display: flex;
    justify-items: center;
    
    justify-content: space-between;
    background-color: var(--Primary-dark);
    max-height: fit-content;
}

.nav__link {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    
}

main {
    grid-area: main;
    display: grid;
    background-color: var(--white);
    padding: var(--padding-default);
}

footer {
    grid-area: footer;
    display: flex;
    padding: var(--padding-default);
    justify-content: space-between;
    background-color: var(--Primary-dark);
    color: var(--white);
}

h1 {
    font-size: var(--h1);
    color: var(--white);
}

h2 {
    font-size: var(--h2);
    color: var(--white);
    
    
}

h3 {
    font-size: var(--h3);
    
   
}

h4 {
    font-size: var(--h4);
    color: var(--white);
}

p {
    font-size: var(--p-default);
    
}

.heading__main {
    font-size: var(--h1);
}

.heading__sub {
    font-size: var(--p-default);
    line-height: .5rem;
}

.headline {
    font-size: 1.6rem;
    color: var(--gray-light);
    
}

.callout {
    font-size: 1rem;
    color: var(--gray-light);
    line-height: 1.3rem;
}

.spacex__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    
}

.spaceX__item {
    background-color: var(--Primary-dark);
    border-radius: var(--border-r-default);
    padding: var(--padding-secondary);
    width: 20rem;
    box-shadow: 0 4px 24px 3px rgb(0 0 0 / 10%);
    
}

.SpaceX__item-name {
    text-align: center;
}
    
.loading {
    width: 5rem;
    animation: loading-spin 5s infinite;
}
    

.fa-satellite {
    font-size: 4rem;
    color: var(--secondary-light);
    
}

 
.space__item-img {
    max-height: 10rem;
} 

.SpaceX__item-details {
    text-align: center;
    text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
    
}
.form-contact {
    display: flex;
    flex-direction: column;
}

.error{
    display: block;
    position: fixed;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: var(--padding-secondary); 
    background-color: var(--primary-light);
    color: var(--red);
    border: var(--triangle) .4rem solid;
    border-radius: var(--border-r-default);
    box-shadow: .2rem .3rem rgb(66, 88, 128, .1);
    min-width: 50%;
    max-width: 50%;
    min-height: fit-content;
    z-index: 1;
}

.error__close {
    display: none;
    z-index: -20;
}

.Error__List {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
#error_close-btn {
    background-color: var(--primary-light);
    border: none;
    color: var(--white);
    font-size: 1.5rem;
}


/* Button */

#nav__btn {
    font-size: var(--h2);
    color: var(--gray-light);
    
    padding: .2rem .5rem;
}



#nav__btn:active {
    color: var(--secondary); 
}

.active {
    display: block;

}

.hidden {
    display: none;
    z-index: -10;
}
.required-complett {
    color: var(--green-dark);
}
.required-fail {
    color: var(--red-dark);
}
 
@keyframes btnCircul{
    0%{
        transform:rotate(0deg);
    }

    20% {
        transform:rotate(90deg);
    }
    
    40% {
        transform:rotate(180deg);
    }

    60% {
        transform:rotate(270deg);
    }

    80%{
        transform:rotate(360deg);
    }

    100% {
        transform:rotate(0deg);
    }

} 

@keyframes loading-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
    
}