body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Font-family */

    /* font-size */

    /* Color */
        --primary-light: #A7B4CC;
        --primary: #425880;
        --Primary-dark: #28354D;

        --secondary-light: #0EA194;
        --secondary: #0D9488;
        --secondary-dark: #08544E;

        --triangle: #F97316;
        --triangle-dark: #7A390B;

        --white: #fafafa;

        --black-light:#8C8C8C;
        --black: #333333;
        --black-dark: #000000;

        --gray-light: #E8E8E8;
        --gray: #CFCFCF;
        --gray-dark: #A8A8A8;

        --red-light: #F50C00;
        --red: #E80C00;
        --red-dark: #A30900;

    --green-light: #3DCC55;
    --green: #00CC22;
    --green-dark: #008015;


}

/* Header */

header {
    grid-area: header;
    display: flex;
    padding: 4rem;
    justify-content: space-between;
    background-color: var(--Primary-dark);
}

nav {
    grid-area: nav;
    display: flex;
    padding: 4rem;
    justify-content: space-between;
    background-color: var(--Primary-dark);
}

main {
    grid-area: main;
    display: grid;
    background-color: var(--primary-light);
}

footer {
    grid-area: footer;
    display: flex;
    padding: 4rem;
    justify-content: space-between;
    background-color: var(--Primary-dark);
}


.error{
    display: block;
    position: fixed;
    left: 50%;
    transform:translateX(-50%);
    padding:2rem; 
    background-color: var(--primary-light);
    color: var(--red);
    border: var(--triangle) .4rem solid;
    border-radius: .5rem;
    box-shadow: .2rem .3rem rgb(66, 88, 128, .1);
    min-width: 50%;
    max-width: 50%;
    min-height: fit-content;
    z-index: 1;
}

.Error__List {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
#error_close {
    background-color: var(--primary-light);
    border: none;
    color: var(--white);
    font-size: 1.5rem;
    
}


h4 {
    font-size: 1.5rem;
}

@keyframes btnCircul{
    0%{
        transform:rotate(0deg);
    }

    20% {
        transform:rotate(90deg);
    }
    
    40% {
        transform:rotate(180deg);
    }

    60% {
        transform:rotate(270deg);
    }

    80%{
        transform:rotate(360deg);
    }

    100% {
        transform:rotate(0deg);
    }

} 